@font-face {
  font-family: "firstTimeWriting";
  src: local("firstTimeWriting"), url("./assets/first-time.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "firstTimeWriting";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.control-arrow {
  background: black !important;
}

.w-50 {
  width: 50vw;
}
